Babel==2.14.0
beautifulsoup4==4.12.3
bracex==2.4
Brotli==1.1.0
cairocffi==1.7.1
CairoSVG==2.7.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cssselect2==0.7.0
defusedxml==0.7.1
fonttools==4.47.2
ghp-import==2.1.0
gitdb==4.0.11
GitPython==3.1.41
html5lib==1.1
idna==3.6
Jinja2==3.1.3
libsass==0.23.0
lxml==5.1.0
Markdown==3.5.2
MarkupSafe==2.1.4
mergedeep==1.3.4
mkdocs==1.5.3
mkdocs-awesome-pages-plugin==2.9.2
mkdocs-caption==1.0.0
mkdocs-glightbox==0.3.6
mkdocs-macros-plugin==1.0.5
mkdocs-material==9.5.4
mkdocs-material-extensions==1.3.1
mkdocs-pagenav-generator @ git+https://github.com/Andre601/mkdocs-pagenav-generator@acb5b1561695e8f69d67fda029779f40e4b0beef
mkdocs-rss-plugin==1.12.0
mkdocs-toggle-sidebar-plugin==0.0.3
mkdocs-wavedrom-plugin==0.1.1
mkdocs-with-pdf==0.9.3
mkdocs-jupyter==0.25.0
natsort==8.4.0
packaging==23.2
paginate==0.5.6
pathspec==0.12.1
pillow==10.2.0
plantuml-markdown==3.9.2
platformdirs==4.1.0
pycparser==2.21
pydyf==0.8.0
Pygments==2.17.2
pymdown-extensions==10.7
pyphen==0.14.0
python-dateutil==2.8.2
PyYAML==6.0.1
pyyaml_env_tag==0.1
regex==2023.12.25
requests==2.31.0
six==1.16.0
smmap==5.0.1
soupsieve==2.5
termcolor==2.4.0
tinycss2==1.2.1
urllib3==2.1.0
watchdog==3.0.0
wcmatch==8.5
webencodings==0.5.1
zopfli==0.2.3
