anyio==4.6.2.post1
appnope==0.1.4
asttokens==2.4.1
attrs==24.2.0
Babel==2.14.0
beautifulsoup4==4.12.3
bleach==6.1.0
bracex==2.4
Brotli==1.1.0
cairocffi==1.7.1
CairoSVG==2.7.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
cssselect2==0.7.0
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
executing==2.1.0
fastjsonschema==2.20.0
fonttools==4.47.2
ghp-import==2.1.0
gitdb==4.0.11
GitPython==3.1.41
h11==0.14.0
html5lib==1.1
httpcore==1.0.7
httpx==0.27.2
idna==3.6
ipykernel==6.29.5
ipython==8.27.0
jedi==0.19.1
Jinja2==3.1.3
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
jupytext==1.16.4
libsass==0.23.0
lxml==5.1.0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.4
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
mergedeep==1.3.4
mistune==3.0.2
mkdocs==1.5.3
mkdocs-awesome-pages-plugin==2.9.2
mkdocs-caption==1.0.0
mkdocs-glightbox==0.3.6
mkdocs-jupyter==0.25.0
mkdocs-macros-plugin==1.0.5
mkdocs-material==9.5.4
mkdocs-material-extensions==1.3.1
mkdocs-pagenav-generator @ git+https://github.com/Andre601/mkdocs-pagenav-generator@acb5b1561695e8f69d67fda029779f40e4b0beef
mkdocs-rss-plugin==1.12.0
mkdocs-toggle-sidebar-plugin==0.0.3
mkdocs-wavedrom-plugin==0.1.1
mkdocs-with-pdf==0.9.3
mkdocs_puml==2.3.0
msgpack==1.1.0
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
packaging==23.2
paginate==0.5.6
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==10.2.0
plantuml-markdown==3.9.2
platformdirs==4.1.0
prompt_toolkit==3.0.47
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.21
pydyf==0.8.0
Pygments==2.17.2
pymdown-extensions==10.7
pyphen==0.14.0
python-dateutil==2.8.2
PyYAML==6.0.1
pyyaml_env_tag==0.1
pyzmq==26.2.0
referencing==0.35.1
regex==2023.12.25
requests==2.31.0
rich==13.9.4
rpds-py==0.20.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
stack-data==0.6.3
termcolor==2.4.0
tinycss2==1.2.1
tornado==6.4.1
traitlets==5.14.3
typing_extensions==4.12.2
urllib3==2.1.0
watchdog==3.0.0
wcmatch==8.5
wcwidth==0.2.13
webencodings==0.5.1
zopfli==0.2.3
